APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8090

ORACLE_HOST=oracle
ORACLE_PORT=1521
ORACLE_SERVICE=XEPDB1
ORACLE_APP_USER=electronics_app
ORACLE_APP_PASSWORD=electronics_app_password
ORACLE_SYS_PASSWORD=oracle

SESSION_NAME=electronics_crm_session
